@model finalProject.Models.User

<h2>Thông tin cá nhân</h2>

<div>
    <p><strong>Họ và Tên:</strong> @Model.Name</p>
    <p><strong>Ngày sinh:</strong> @Model.DateofBirth.ToString("dd/MM/yyyy")</p>
    <p><strong>Email:</strong> @Model.Email</p>
    <p><strong>Tên đăng nhập:</strong> @Model.Username</p>

    @* <a href="@Url.Action("EditProfile", "Users")">Chỉnh sửa thông tin</a> *@
</div>
